@model DiplomMSSQLApp.WEB.Models.DepartmentViewModel

@{
    ViewBag.Title = "Подробная информация об отделе";
}

<h2>Подробная информация об отделе</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd>
            @if (Model.Manager != null) {
                @(Model.Manager.LastName + " " + Model.Manager.FirstName + " " + Model.Manager.Patronymic);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posts)
        </dt>
        @if (Model.Posts != null) {
            foreach (var item in Model.Posts) {
                <dd>
                    @item.Title
                </dd>
            }
        }
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
</div>
