@using DiplomMSSQLApp.WEB.Helpers
@model DiplomMSSQLApp.WEB.Models.PostListViewModel

@{
    ViewBag.Title = "Список должностей";
}

<h2>Список должностей</h2>
<hr />

<div>
    <div id="performanceTestsToggle" class="btn btn-default">
        Тесты производительности (Показать / Скрыть)
    </div>
    <div id="performanceTests" style="display:none;">
        <p>
            @using (Html.BeginForm("TestCreate", "Post")) {
                <div class="form-horizontal">
                    <h4>@Html.Label("Test", "Тест добавления должностей")</h4>

                    <div class="form-group">
                        @Html.Label("Num", "Количество запросов", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" value=10 name="num" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Добавить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
        <hr />
        <p>
            @using (Html.BeginForm("TestRead", "Post")) {
                <div class="form-horizontal">
                    <h4>@Html.Label("Test", "Тест выборки должностей")</h4>

                    <div class="form-group">
                        @Html.Label("Num", "Количество запросов", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" value=10 name="num" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Salary", "MaxSalary >= ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" value=50000 name="salary" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Выбрать" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
        <hr />
        <p>
            @using (Html.BeginForm("TestUpdate", "Post")) {
                <div class="form-horizontal">
                    <h4>@Html.Label("Test", "Тест обновления должностей")</h4>

                    <div class="form-group">
                        @Html.Label("Num", "Количество запросов", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" value=10 name="num" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Обновить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
        <hr />
        <p>
            @using (Html.BeginForm("TestDelete", "Post")) {
                <div class="form-horizontal">
                    <h4>@Html.Label("Test", "Тест удаления должностей")</h4>

                    <div class="form-group">
                        @Html.Label("Num", "Количество запросов", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" value=10 name="num" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Удалить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
</div>

<hr />

<p>
    @Html.ActionLink("Добавить должность", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Удалить все должности", "DeleteAll", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Преобразовать данные в Json", "ExportJson", null, new { @class = "btn btn-default" })
</p>

@if (Model.Posts.Count() > 0) {
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).Department.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).NumberOfUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.ElementAt(0).TotalSalary)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Posts) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfUnits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalary)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
            <tr>
                <td></td>
                <td></td>
                <td>
                    <b>Итого</b>
                </td>
                <td>
                    <b>@ViewBag.TotalNumberOfUnits</b>
                </td>
                <td></td>
                <td></td>
                <td>
                    <b>@ViewBag.TotalSalary</b>
                </td>
                <td></td>
            </tr>
    </table>
}

<p>
    @Html.Label("Count", "Количество должностей: " + Model.PageInfo.TotalItems)
</p>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>

@section scripts {
    <script>
        $('#performanceTestsToggle').click(function () {
            $('#performanceTests').slideToggle("slow");
        });
    </script>
}
